@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

main {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-margin-top: 110px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #3b82f6, #06b6d4);
  border-radius: 10px;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}


body {
  background: radial-gradient(
      circle at top,
      rgba(59, 130, 246, 0.12),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom,
      rgba(147, 51, 234, 0.12),
      transparent 40%
    ),
    #050505;

  color: white;
}

